html {
    overflow-y:scroll;
}

html, body {
    font-family: 'Space Mono', 'Noto Snas KR', sans-serif;
}

html, body, h1, h2, h3, h4, p, ul, ol, li, div, a {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a, a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #333;
}

::selection {
    background: #000;
    color: #fff;
}

.deckgo-highlight-code-carbon {
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 8px 24px rgba(0,0,0,.35);
}