.title {
  opacity: 0;
  line-height: 1.25;
  font-size: 28px;
  font-family: azo-sans-web, sans-serif;
  animation: fade-in .5s forwards;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    font-size: 36px;
  }
  
  &::after {
    display: block;
    margin-top: 34px;
    margin-bottom: 34px;
    max-width: 0;
    width: 24px;
    height: 4px;
    background-color: #000;
    animation: lined .5s forwards;
    animation-delay: .5s;
    content: '';
  }
}

.desc {
  opacity: 0;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  word-break: keep-all;
  animation: fade-in 1s forwards;
  animation-delay: .8s;

  @media screen and (min-width: 768px) {
    font-size: 36px; 
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes lined {
  0% {
    max-width: 0;
  }

  100% {
    max-width: 100px;
  }
}