.title {
  line-height: 1.25;
  font-size: 28px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
  
  &::after {
    display: block;
    margin-top: 34px;
    margin-bottom: 34px;
    width: 24px;
    height: 4px;
    background-color: #000;
    content: '';
  }
}

.desc {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  font-family: sans-serif;
  word-break: keep-all;

  @media screen and (min-width: 768px) {
    font-size: 36px; 
  }
}