header {
  margin-bottom: 24px;

  &.isShowGnb {
    .gnb {
      position: fixed;
      left: 50%;
      box-shadow: -10px 0 40px 0 rgba(0,0,0,0.25);
      animation: elastic 1s forwards;
      padding-left: 16px;

      li {
        opacity: 1;
        transform: translate(0, 0);
      }

      li:nth-child(1) {
        transition-delay: .2s;
      }

      li:nth-child(2) {
        transition-delay: .25s;
      }

      li:nth-child(2) {
        transition-delay: .30s;
      }

      li:nth-child(3) {
        transition-delay: .35s;
      }

      li:nth-child(4) {
        transition-delay: .4s;
      }
    }

    .gnbToggle {
      position: fixed;
      left: 50%;
      margin-left: 16px;

      .barTop,
      .barMiddle,
      .barBottom {
        background-color: #fff;
      }
      
      .barTop,
      .barBottom {
        width: 50%;
      }
      .barMiddle {
        width: 110%;
      }

      .barTop {
        transform: rotate(-45deg) translate(-4px, 2px);
      }

      .barBottom {
        transform: rotate(45deg) translate(-4px, -2px);
      }
    }

    a.active {
      transform: translateX(0)
    }

    a.active::after {
      top: 40px;
      bottom: 4px;
      left: 0;
      right: 0;
      background-color: #fff;
    }
  }
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;

  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.vision {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 24px 10px 8px;
  font-size: 14px;
  margin-right: 8px;
  
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 32px;
    font-size: 16px;
  }
}

.eatdesignlove {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  vertical-align: top;
  color: #000;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
    font-size: 16px;
  }

  &::after {
    position: absolute;
    left: calc(100% + 12px);
    width: 24px;
    height: 24px;
    background-image: url(../images/eatdesignlove-logo.png);
    background-size: 24px;
    content: '';
  }
}

.gnbToggle {
  position: absolute;
  top: 24px;
  right: 16px;
  border: 0;
  width: 24px;
  height: 18px;
  padding: 0;
  z-index: 10;
  background-color: transparent;
  cursor: pointer;

  .barTop,
  .barMiddle,
  .barBottom {
    display: block;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    transition: transform .25s, width .25s;
    transform: rotate(0) translate(0, 0);
    border-radius: 2px;
  }

  .barTop {
    top: 0;
  }

  .barMiddle {
    top: 50%;
    margin-top: -1px;
  }

  .barBottom {
    bottom: 0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}


.gnb {
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  bottom: 0;
  right: 0;
  padding-top: 48px;
  background-color: #000;
  z-index: 1;
  box-shadow: -10px 0 40px 0 rgba(0,0,0,0);
  transition: box-shadow .25s, left .15s;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 0;
    transform: translateX(0);
    height: auto;
    position: absolute;
    width: 180px;
    top: 24px;
    right: 0;
    left: auto;
    bottom: auto;
    background-color: transparent;
    box-shadow: 0
  }

  @media screen and (min-width: 1000px) {
    width: 280px;
  }

  &::before {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 26px;
    height: 4px;
    background-color: #000;
    content: '';

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  li {
    list-style: none;
    opacity: 0;
    transition: opacity .25s, transform 0.2s;
    transform: translate(20px, 0);

    @media screen and (min-width: 768px) {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &Link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    line-height: 48px;
    transform: translateX(0);
    transition: transform .05s ease-out;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      color: #000;
    }

    &::after {
      background-color: #000;
      transition-delay: 1s;
      transition: all .1s ease-in;
    }
    
    &::after {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc(100% + 10px);
      right: -10px;
      z-index: -1;
      width: 0;
      content: '';
    }

    &.active,
    &:hover,
    &:focus {
      transform: translateX(10px);
      background-color: #000;
      color: #fff;
    }
    
    &.active::after,
    &:hover::after,
    &:focus::after {
      left: -10px;
      width: auto;
    }
  }
}



@keyframes elastic {
  0% {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    left: 100%;
  }

  10% {
    border-top-left-radius: 80%;
    border-bottom-left-radius: 80%;
    left: 50%;
  }

  15% {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
  }

  30% {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  35% {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  50% {
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
  }

  60% {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}